@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?ordz2w');
  src: url('../fonts/icomoon.eot?#iefixordz2w') format('embedded-opentype'), url('../fonts/icomoon.ttf?ordz2w') format('truetype'), url('../fonts/icomoon.woff?ordz2w') format('woff'), url('fonts/icomoon.svg?ordz2w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-heart-o:before {
  content: "\e600";
}
.icon-heart:before {
  content: "\e601";
}
body {
  margin: 0;
  background-color: #ffffff;
  color: #666666;
  font-family: 'Open Sans', serif-sans;
  font-size: 62.5%;
}
.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.banner {
  box-shadow: 0 1px 10px #999999;
  background-color: #05c3de;
  color: #ffffff;
}
.banner h2 {
  margin: 0;
  padding: 1em 0;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
.status ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.status ul li {
  padding: 1em 0;
  font-size: 1.5em;
  float: left;
}
.status ul .count {
  padding: 0 1em;
}
.status ul .number {
  background-color: #ffffff;
  color: #22C3DC;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  border-radius: 100%;
  padding: .2em;
}
.feeds {
  margin: 0;
  padding: 0;
}
.feeds li {
  list-style: none;
}
.feeds a {
  color: #05c3de;
  text-decoration: none;
}
.feeds .feed-item {
  padding: 2em 1em;
  position: relative;
  border-bottom: 1px dashed #999999;
}
.feeds .feed-item h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 2em;
}
.feeds .feed-item .favicon {
  color: #f04e98;
  position: absolute;
  font-size: 1.5em;
  margin: .3em 0;
  cursor: pointer;
}
.feeds .feed-item .date {
  color: #999999;
  float: right;
}
