<div class="feed-item">
	{{#if status}}
	<span class="favicon icon-heart"></span>
	{{else}}
	<span class="favicon icon-heart-o"></span>
	{{/if}}
	
	<a href="{{this.url}}">
		<h3>{{this.title}}</h3>	
	</a>					
	<span class="date">{{this.publicDate}}</span>
</div>